@use "../global" as global;

.p-access {
  padding-bottom: 78px;
  position: relative;
}

.p-access__inner {
}

.l-inner {
}

.p-products__heading {
}

.c-section-heading {
}

.p-access__contents {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 934px;

  @include global.mq("md") {
    flex-direction: row;
    justify-content: space-between;
  }

  margin-top: 89px;
}

.p-access__contents-address {
  margin-left: auto;
  margin-right: auto;
  width: 95%;

  @include global.mq("sm") {
    width: 80%;
  }
  @include global.mq("xl") {
    width: 49.1%;
  }
}

.p-access__contents-map {
  margin-left: auto;
  margin-right: auto;
  width: 95%;

  iframe {
    width: 100%;
    height: auto;
    height: 334px;
  }

  @include global.mq("sm") {
    width: 80%;
  }

  @include global.mq("xl") {
    width: 47.4%;
    margin-top: 1px;
  }
}

.p-access__decoration {
  position: absolute;
  width: 200px;
  top: -45px;
  left: 0;

  @include global.mq("md") {
    width: 280px;
    top: -55px;
  }

  @include global.mq("lg") {
    width: 349px;
    top: -71px;
  }
}
