@use "../global" as global;

.c-button {
  width: 243px;
  height: 46px;
  border-radius: 10px;
  background: #fed966;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 13px;
  border: none;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;

  &:hover {
    background: global.$text-color;
    color: #fff;
  }
}
